#boton-darkmode{
    border-radius: 62rem;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    bottom: 15rem;
    left: 23rem;
    right: unset;
    z-index: 2;
    background-color: grey;
}
#boton-darkmode::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: rgb(87, 82, 82);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    border: solid thin #000;
    transition: 3s ease all;
    z-index: 2;
}
#boton-darkmode.active::before{
    right: 0;
    left: unset;
    border: solid thin #fff;
}
span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: rgb(5, 5, 3);
    z-index: 2;
}


.dark-mode{
    transition: 0.5s;
    background-color: #333;
}
.h1-darkmode{
    color: black;
}