
body.dark-mode .list-group-item,
.dark-mode,
.dark-mode .album #autos,
.dark-mode .album #juguetes,
.dark-mode .album #muebles,
.dark-mode .cate input,
.dark-mode .cate #rangeFilterCount,
.dark-mode .row #botones label,
.dark-mode .barrabuscar,
.dark-mode .row input,
.dark-mode .row #rangeFilterPrice,
.dark-mode .row #clearRangeFilter,
.dark-mode .row #rangeFilterCount,
.dark-mode .btn-group label,
.dark-mode #commentForm textarea,
.dark-mode #commentForm input,
.dark-mode textarea,
.dark-mode #mas,
.dark-mode #file-upload,
.dark-mode select{
    background-color: #141414;
    color: white;
}

.dark-mode h4,
.dark-mode .related{
    background-color: #333;
    color: white;
}

.dark-mode .card{
    border: 2px solid white;
    background-color: #333;
    color: white;
}

.dark-mode .btn-link, .dark-mode .cate{
    color: white;
}

.dark-mode .jumbotron{
    background-image: url(../img/cover_back.jpg);
}

#boton-darkmode {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: gold;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #boton-darkmode::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;; /* Cambia 'all' a 'left' y ajusta la duración (0.3s) según tus preferencias */
    z-index: 2;
}

#boton-darkmode.active::before {
    right: 30px; /* Cambia 'right' a 'left' para revertir la transición */
    right: unset;
    border: solid thin #fff;
}
body.dark-mode{
    background-color: #010101;
}

.luz{
    color: white;
}

body, .jumbotron {
    transition: .5s ease-in-out;
}

body.dark-mode .list-card-item {
    & .card-body {
        background: #121212;
    }
}