@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body {
    background-color: #ededed;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 25px;
    max-height: 80vh;
    width: 350px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 23px;
    font-family: 'Inter', sans-serif !important;
  }
  
  h1 {
    margin: 10px;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif !important;
  }
  
  #logo-login {
    width: 120px;
    height: 120px;
    margin-left: 40px;
  }
  
  #icono-usuario,
  #icono-password {
    width: 20px;
    height: 20px;
  }
  
  form label {
    margin-bottom: 30px;
  }
  form label input {
    outline: none;
    border: none;
    border-bottom: solid 1px orangered;
    padding: 0px 5px;
    font-size: 15px;

  }
  
  #recordar-checkbox {
    margin-top: 10px;
  }
  
  #button-login {
    background-color: #ff7221;
    width: 180px;
    height: 30px;
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
    border: none;
    margin-top: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  #button-login:hover {
    background-color: #ff9151;
  }
  #contenerformlogin {
    margin: 0 auto;
}
.dark-mode a{
  color: #3498db;
}
.flip{
    -webkit-animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  
}

 @-webkit-keyframes flip-vertical-bck {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateX(-20px) rotateY(360deg);
            transform: translateX(-20px) rotateY(360deg);
  }
}
@keyframes flip-vertical-bck {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(-20px) rotateY(360deg);
            transform: translateZ(-20px) rotateY(360deg);
  }
}