#registrarsebtn{
    background-color: #ff7221;
    width: 180px;
    height: 30px;
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
    border: none;
    margin-top: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
}
#registrarsebtn:hover{
    animation: size 0.2s forwards;
}
@keyframes size{
    to {
        opacity: 1;
        transform: scale(1.09);
        background: linear-gradient(0deg, transparent,#fc6a49,#fa6949,#f76545);
    }
}
#boton-darkmode{
    border-radius: 62rem;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    bottom: 15rem;
    left: 23rem;
    right: unset;
    z-index: 2;
    background-color: grey;
}
#boton-darkmode::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: rgb(87, 82, 82);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    border: solid thin #000;
    transition: 3s ease all;
    z-index: 2;
}
#boton-darkmode.active::before{
    right: 0;
    left: unset;
    border: solid thin #fff;
}
input.activep::placeholder{
    color: white;
    transition: 2s;
}
span.ojorelative{
    color: black;
}
#ojo.activer{
    color: white;
    transition: 2s;
}
input.pblanco::placeholder{
    color: white;
    transition: 2s;
}
#fecha.fechac{
    color: white;
    transition: 2s;
}
#emailregistro.eblanco::placeholder{
    color: white;
    transition: 2s;
}
#contraseñaregistro.cblanco::placeholder{
    color: white;
    transition: 2s;
}
#repitacontraseña.rblanco::placeholder{
    color: white;
    transition: 2s;
}
input[type="date"].activecal::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.medidor {
    width: 13rem;
    height: 0.625rem;
    background-color: #ddd;
    border-radius: 0.625rem;
    align-items: flex-start;
    margin-bottom: 20px; 
}

#ParrafoF {
    flex: 1;
    margin-top: 5px;
}


.vacio{
    background-color: white;
}
.debil{
    background-color: #ff6347;
    transition: 5s;
    
}
.medio{
    background-color: #ffd700;
    transition: 0.5s;
    
}
.fuerte{
    background-color: #00cc00;
    transition: 0.5s;
    
}
.requisitos-contraseña{
    display: none;
    font-size: small;
}
#fecha{
    display: flex;
    position: absolute;
    left: 4.7rem;
    
}