@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  box-sizing: border-box;
}

.family-inter {
  font-family: 'Inter', sans-serif !important;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Inter', sans-serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.max-content {
  width: max-content;
}

.barrabuscar {
  border: 1px solid #252525;
  max-width: 600px;
  padding: 10px;  
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 2.6em;
  position: relative;
  overflow: hidden;
}


.text-left {
  text-align: left;
}



.new-comment{
  width: 55%;
  border-radius: 5px;
  padding: 20px;
  resize: none;
}

.btn-comment {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  margin-top: 20px;
  padding: 15px ;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  }

.btn-comment:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  }

  .new-rating {
width: 10%;
  }

/* estilo estrellas rate */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: orange;
}

.stars-and-rate {
  display: flex;
  align-items: center; 
}

.rating-container {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-left: 5px;
}

.stars-and-rate span {
  margin-left: 5px; 
}
#esconder{
  display: none;
}

.fs-sm {
  font-size: small;
}

.carousel-control_btn {
  transition: .25s ease-in-out;
}

.carousel-control_btn:hover {
  background: rgba(20, 20, 20, .15);
}

.btn_product-info {
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transition: .25s ease-in-out;
}

.btn_product-info:hover {
  background: rgba(20, 20, 20, .15);
}

body.dark-mode .btn_product-info:hover {
  background: rgba(255, 255, 255, .75);
}

#newRating {
  border: none;
  outline: none;
  border-bottom: 1px solid #767676;
  width: 3.1rem;
  text-align: right;
  transition: .25s ease-in-out;
}

#productCarousel {
  border-radius: 8px;
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none;
}

.inputRangeFilterPrice {
  width: 6.5rem;
}

#searchInput {
  width: 95%;
}

.container-90 {
  max-width: 90vw;
}

/* Funciona en Brave y otros navegadores basados en Blink */
* {
  scrollbar-width: thin;
  scrollbar-color: #eee #101010;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #101010;
}

*::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 20px;
  border: 3px solid #101010;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  gap: .5rem;
}

#productos .list-group-item {
  border-radius: .25rem;
  overflow: hidden;
}

.img-list-group {
  height: 7rem;
}

.list-card-item {
  overflow: hidden;
  border: none !important;
  border-radius: 8px;
  cursor: pointer;
  transition: .25s ease-in-out;
  & .card-body {
    background: #dedede;
  }
}

.list-card-item:hover {
  transform: scale(1.02);
}

.min-max_container input {
  border-radius: 8px;
  border: 1px solid #252525;
}

.dropdown-user > .btn {
  background: transparent !important;
}

h1, h2, h3, h4, h5, h6 {
  background: transparent !important;
}

.bg-navbar_dark {
  background: #080808;
}
#direccion fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#direccion .street1,
#direccion .number1 {
  flex: 1; 
margin: 40px;
}

#direccion .number1 {
  margin-left: 10px; 
}
/*Estilos necesarios para el Modal de Cart.html*/

#securitynumber{
  width: 60%;
}
#expirationdate{
  width: 50%;
  justify-content: center;
}
#accountnumber{
  width: 50%
}
#creditcardinput{
color: black;
}
#accountnumberlabel{
  color: black;
}
#creditcardnumberlabel{
color: black;
}
#expirationdatelabel{
  color: black;
}
#transferencia{
  color: black;
}

.swal2-popup {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.showMessage_title {
  font-size: 1.2rem;
}

.showMessage_icon {
  font-size: .5rem;
}

.swal2-shown {
  overflow: unset !important;
  padding-right: 0px !important;
}

body.swal2-shown {
  overflow-y: scroll !important;
}