#ojo{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 53%;
    left: 57%;
    cursor: pointer;
    opacity: 0.3;
    position: absolute;
    left: 16rem;
}
input:invalid{
    background-color: rgba(250, 6, 6, 0.247);
}
input:valid{
    background-color: rgb(245, 245, 245);
}
#usuario{
    backdrop-filter: 20px;
}
#logo-login{
    filter: drop-shadow(30px 20px 70px);
}
input {
    transition: border-color 0.3s ease;
}
input:focus {
    border-color: blue;
}
#contrasena:focus{
    transform: translateY(5px);
    background-color: none;
    transition: 0.2s ease-in;
}
#usuario:focus{
    transform: translateY(5px);
    transition: 0.2s ease-in;
    background-color: none;
}

form{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.7s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#button-login{
    transition: transform 0.5s ease;
}

#button-login:hover {
    transform: rotate(5deg);
}
input{
    box-shadow: 0 0 30px rgba(0,-0,-0,-0.568);
    transition: 0.5 ease-in;
}